body{
    background-color:skyblue;
    height:5000px;
}

li {
    list-style:none;
}

a {
    text-decoration:none;
    color:white;
}

h1{
    color:blue;
}

main{
    padding:10px;
    margin:20px;
}

.contact{
    display:grid;
    justify-items:center;
}

.blocks{
    display:flex;
}

.whatsapp{
    background-color:green;
    color:white;
    border-radius:15px;
    padding:10px;
    margin:20px;
    cursor:pointer;
    transition:0.5s;
}
    .whatsapp:hover{
        transform:translate(10px) scale(1.3);
        padding:20px;
    }

.facebook{
    background-color:blue;
    color:white;
    border-radius:15px;
    padding:10px;
    margin:20px;
    cursor:pointer;
    transition:0.5s;
}
    .facebook:hover{
        transform:translate(10px) scale(1.3);
        padding:20px;
    }

.instagram{
    background-color:blueviolet;
    color:white;
    border-radius:15px;
    padding:10px;
    margin:20px;
    cursor:pointer;
    transition:0.5s;
}
    .instagram:hover{
        transform:translate(10px) scale(1.3);
        padding:20px;
    }